@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root{
    --background-color: #e8eef4;
    
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.section-margin{
  margin: 1rem;
}

.section-padding{
  padding: 1rem;
}